[GLOBAL]
pants_version = "2.29.0"
backend_packages = [
    "pants.backend.build_files.fmt.ruff",
    "pants.backend.docker",
    "pants.backend.docker.lint.hadolint",
    "pants.backend.python",
    "pants.backend.python.lint.docformatter",
    "pants.backend.experimental.python.lint.ruff.check",
    "pants.backend.experimental.python.lint.ruff.format",
    "pants.backend.python.typecheck.mypy",
    "pants.backend.docker",
    "pants.backend.docker.lint.hadolint",
    "pants.backend.shell"
]
pants_ignore = [
    '.devcontainer/**',
    '.vscode/**',
    'bin/**',
    'templates/**'
]

[anonymous-telemetry]
enabled = true
repo_id = "A8B966D2-72FA-451B-965B-CACF8CF2FDC5"

[source]
root_patterns = [
    "src/*", "test/*", "/"
]

[docker]
default_repository = "naccdata/{name}"

[dockerfile-parser]
use_rust_parser = true

[python]
interpreter_constraints = ["==3.12.*"]
enable_resolves = true
resolves = { python-default = "python-default.lock", mypy = "mypy.lock" }

[python-bootstrap]
#  https://www.pantsbuild.org/docs/python-interpreter-compatibility#changing-the-interpreter-search-path.
search_path = ["<PATH>", "<PYENV>"]

[python-infer]
use_rust_parser = true

[update-build-files]
formatter = "ruff"

[pytest]
args=["-vv"]

[mypy]
install_from_resolve = "mypy"

# TODO: REMOVE WHEN DEV TESTING IS DONE
[python-repos]
find_links = [
    "file:///workspaces/flywheel-gear-extensions/dist/"
]
