exclude = [
    "comanage"
]

line-length = 88
indent-width = 4

target-version = "py312"

[lint]
select = ["A", "B", "E", "W", "F", "I", "RUF", "SIM", "C90", "PLW0406", "COM818", "SLF001", "E402"]

[lint.per-file-ignores]
# TODO: confirm that this was a yapf/ruff conflict
"common/src/python/curator/scheduling.py" = ["I001"]
"common/src/python/event_capture/visit_event_accumulator.py" = ["I001"]
"common/test/python/event_capture/test_visit_event_accumulator.py" = ["I001"]
"tests/*" = ["SLF001"]